body {
    background-image: linear-gradient(135deg, #cc2b5e, #753a88);
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    height: 85vh;
}

.createdby {
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 40px;
}